* {
    padding: 0;
    margin: 0;
    border: none;
  }
  body {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
  }
  
  .delete-wrapper {
    width: 400px;
    height: 350px;
    padding: 40px;
    box-sizing: border-box;
  }
  
  .delete-wrapper > h2 {
    font-size: 24px;
    color: #6a24fe;
    margin-bottom: 20px;
  }
  #form-delete > input {
    width: 100%;
    height: 48px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: #f8f8f8;
  }
  #form-delete > input::placeholder {
    color: #d2d2d2;
  }
  #form-delete > button[type="button"] {
    color: #fff;
    font-size: 16px;
    background-color: #6a24fe;
    margin-top: 20px;
  }
  
  .delete-wrapper > p {
    font-size: 15px;
    color: #000000;
    margin: 20px 0px 40px 0px;
  }

  #form-delete > button {
    width: 100%;
    height: 48px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: #f8f8f8;
  }
  

  #form-delete > button::placeholder {
    color: #d2d2d2;
  }

  #form-delete > button[type="button"] {
    color: #fff;
    font-size: 16px;
    background-color: #6a24fe;
    margin-top: 20px;
    width: 45%;
  }
  