/* :root {
} */

/* body {
  margin: 0;
  padding: 0;
} */

/* ABeeZee font import */
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@1&family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');

a {
  text-decoration: none;
}

h1 {
  text-align: center;
  font-family: 'ABeeZee', sans-serif;
  font-size: 50px;
}

.nav-item::marker {
  color: transparent;
}

.navbar-brand {
  text-align: center;
  font-family: 'ABeeZee', sans-serif;
  font-size: 30px;
}

/* main 이미지 */
.main-container {
  position: relative;
  text-align: center;
  top: 40px;

  width: 1200px;
  height: 800px;
  border: 1px solid black;

  margin: 0 auto;
  display: flex;

  justify-content: center;
  align-items: center;
}

.main-container img {
  max-width: 100%;
  max-height: 100%;
  width: auto;

  /* 반응형. 이미지가 400px 보다 작아지지 않도록 함 */
  /* min-width: 400px; */
}

.main-text {
  position: absolute;
  bottom: 10px;
  left: 30px;
  margin: 0px;
  text-align: left;
  color: black;
}

.intoMap {
  display: inline-block;
  width: 180px;
  height: 50px;
  background-color: #157dff;
  border-radius: 45px;
  text-align: center;
  padding-top: 12px;
}

.intoMap:hover {
  background-color: #e6e6e6;
}

.intoMap span {
  color: #ffffff;
}

/* 이미지 4개 */
.main-select {
  position: absolute;
  width: 100%;
  top: -50px;

  color: black;

  /* text-align: right; */
  margin-left: 140%;
}

.main-select img {
  border-radius: 5%;
}

.row {
  /* 가로 - 줄바꿈 없음 */
  flex-wrap: nowrap;

  position: absolute;
  justify-content: flex-end;
}

.row > p {
  margin: 0 0;
}

.col-4 {
  width: 200px;
  text-align: center;
  margin-right: 20px;
}
