*{
  text-decoration: none;
}

/* nav bar css */
.nav-item::marker {
  color: transparent;
}

.navbar-brand {
  text-align: center;
  font-family: 'ABeeZee', sans-serif;
  font-size: 30px;
  /* margin 값은 main.css와 map.css에 들어가 있음 */
  margin-top: 15px;
}


.into-map {
  background-color: #157dff;
  color: #fff;
  position: relative;
  border: none;
  display: inline-block;
  padding: 15px 30px;
  margin-top: 10px;
  border-radius: 15px;
  font-family: 'IBM Plex Sans KR', sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  font-weight: 600;
}

.into-map:hover{
  transform: scale( 1.1 )
}


.into-map a {
  text-decoration: none;
  color: #fff;
  font-size:larger;
  font-family: 'IBM Plex Sans KR', sans-serif;
}

/* main 이미지 */
.main-container {
  position: relative;
  text-align: center;
  /* top: 40px; */

  width: 1600px;
  height: 1000px;

  margin: 0 auto;
  display: flex;

  justify-content: center;
  align-items: center;
}

.main-text {
  position: absolute;
  top: 150px;
  text-align: center;
  color: black;
  font-family: 'Unbounded', sans-serif;
}

.main-text p {
  font-size: 65px;
  font-weight: 1000;
  font-family: 'Unbounded', sans-serif;
}


.main-img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
}

.main-img img {
  width: 480px;
}

.exhibition-img img {
  position: absolute;
  left: 0px;
  top: 80px;
}

.popup-img img {
  position: absolute;
  left: 250px;
  bottom: 170px;
}

.gallery-img img {
  position: absolute;
  right: 250px;
  bottom: 170px;
}

.museum-img img {
  position: absolute;
  right: 0px;
  top: 80px;
}

