html {
  width: 100%;
}

body {
  font-family: Arial, sans-serif;
  background-color: #bae0fb;
  /* display: flex;   */
  width: 100%;
}

#map {
  display: flex;
  position: absolute;
  left: 880px;
  width: 63%;
  height: 1200px;

  border-radius: 15px;

  margin: 0 0 0 20px;
  background-color: antiquewhite;
  top: 200px;
}

.btn-top-myplace {
  display: flex;
  z-index: 999;
  height: 30px;
  position: relative;
  left: 10px;
  top: 10px;
}

.container-a {
  display: flex;
  /* height: 100vh; */
  height: 1200px;
  width: 470px;
  /* width: auto; */
  /* overflow: hidden; */
  margin: 30px 0 0 0;
  padding: 0;

  top: 140px;
}

.sidebar {
  width: 60px;
  background-color: #ffffff;
  color: #000000;
  transition: width 0.3s;
  border-right: 1px solid #cacaca;
  position: relative;
  z-index: 999;
}

/* 사이드바 버튼 */
.toggle-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  z-index: 2;
  color: rgb(0, 0, 0) 000;
}
.btn-a {
  margin: 40px 0 0 5px;
}
.btn-b {
  margin: 100px 0 0 5px;
}
.bi {
  font-size: 25px;
  /* line-height: 30px; */
  color: black;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

/* 리스트 콘텐츠 영역 */
.content {
  position: absolute;
  /* z-index: -1; */
  flex: 1;
  padding: 20px;
  background-color: white;
  border-radius: 0 15px 15px 0;
  /* 스크롤 */
  overflow-y: scroll;
  transition: transform 0.4s ease;
  animation: slideIn 0.4s ease;

  width: 450px;
  height: 1200px;

  top: 200px;
  left: 0;
}

.content-a {
  margin-left: 70px;
}

.content-a img {
  width: 200px;
}

/* 스크롤바 전체 영역  */
::-webkit-scrollbar {
  width: 10px; /* 세로축 스크롤바 폭 너비 */
  height: 10px; /* 가로축 스크롤바 폭 너비 */
  max-height: 10px;
}

/* 스크롤바 막대 */
::-webkit-scrollbar-thumb {
  background: #828282; /* 스크롤바 막대 색상 */
  /* border: 0px solid #828282;  */
  /* 스크롤바 막대 테두리 설정  */
  border-radius: 12px 12px 12px 12px;
  margin-right: 5px;
}

/* 지도 아이콘 버튼 */
.iconBtn {
  position: absolute;
  width: auto;
  height: 30px;
  top: 1420px;
  left: 20px;
}

/* 정보창 */
.info-container {
  position: absolute;
  height: 1200px;
  width: 410px;
  border-radius: 0 15px 15px 0;
  background-color: white;
  margin: 0;
  display: none;
  /* overflow-y: scroll; */
}

.info-container img {
  border-radius: 0 15px 0 0;
  width: 410px;
  height: 300px;
}

.info {
  position: absolute;
  top: 285px;
  width: 410px;
  height: 915px;
  border-radius: 15px 15px 15px 15px;
  background-color: white;
}
