* {
  padding: 0;
  margin: 0;
  border: none;
}
body {
  font-family: 'Roboto', sans-serif;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.signup-wrapper {
  width: 450px;
  padding: 40px;
  margin: 100px 100px 50px 100px;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 3px 3px 10px 3px #d2d2d2;
}

#form-register {
  width: 90%;
  margin: 0 auto;
}

.input_box {
  margin-bottom: 25px;
}

.input_box > input {
  width: 100%;
  height: 48px;
  padding: 0 10px;
  box-sizing: border-box;
  margin: 10px 0px 10px 0px;
  border-radius: 6px;
  background-color: #f8f8f8;
}

#id_double {
  position: relative;
}

#id_double > button {
  position: absolute;
  width: 70px;
  height: 30px;
  top: 0;
  bottom: 0;
  right: 10px;
  margin: auto;
  margin-top: 17px;
  border-radius: 3px;
  background-color: white;
  border: 1px solid #d9d9d9;
  cursor: pointer;
}

.input_box > #id_double > input {
  width: 100%;
  height: 48px;
  padding: 0 10px;
  box-sizing: border-box;
  margin: 8px 0px 16px 0px;
  border-radius: 6px;
  background-color: #f8f8f8;
}

.input_box > #id_double > input::placeholder {
  color: #d2d2d2;
}

.input_box > p {
  margin-bottom: 20px;
}

.input_box > input::placeholder {
  color: #d2d2d2;
}

.input_box > input[type='button'] {
  color: #fff;
  font-size: 16px;
  background-color: #157dff;
  margin-top: 20px;
}

#form-register > button {
  width: 100%;
  height: 48px;
  padding: 0 10px;
  box-sizing: border-box;
  border-radius: 6px;
  background-color: #f8f8f8;
  cursor: pointer;
}

#form-register > button::placeholder {
  color: #d2d2d2;
}
#form-register > button[type='button'] {
  color: #fff;
  font-size: 16px;
  background-color: #157dff;
  margin-top: 20px;
}

.linkToSignin {
  font-size: 16px;
}

.linkToSignin > span {
  color: #157dff;
  font-weight: 800;
  cursor: pointer;
}
