<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>signin</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300&amp;display=swap"
    />

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <link rel="stylesheet" href="/static/editProfile.css" />
  </head>
  <body>
    <div class="editProfile-wrapper">
      <h2>회원정보 수정</h2>
      <form id="form-editProfile" name="form_editProfile">
        <label for="u_id" class="visually">아이디</label>
        <input type="text" name="u_id" value="<%=data.id %>" readonly />

        <label for="u_id" class="visually">이메일</label>
        <input type="text" name="email" value="<%=data.email %>" readonly />

        <label for="name" class="visually">이름</label>
        <input type="text" name="name" value="<%=data.name %>" />

        <p>비밀번호 변경 시에만 입력</p>

        <label for="password" class="visually">새 비밀번호</label>
        <input type="password" id="pw" name="password" placeholder="Password" />

        <label for="password-check" class="visually">새 비밀번호 확인</label>
        <input
          type="password"
          id="pwConfirm"
          name="password-check"
          placeholder="Password"
          oninput="pwCheck()"
        />
        <div id="pwResult"></div>

        <button type="button" name="edit" onclick="profileEdit()">수정</button>
      </form>
    </div>

    <script>
      function profileEdit() {
        const form = document.getElementById("form-editProfile");
        if (!form.checkValidity()) {
          form.reportValidity();

          return false;
        }
        let user = {
          name: form.name.value,
        };

        // 비밀번호 필드가 비어있지 않으면 pwEdit 함수 호출
        if (form.password.value !== "") {
          pwEdit();
          return;
        }

        axios({
          method: "patch",
          url: `/user/profile/edit/${form.u_id.value}`,
          data: user,
        })
          .then((res) => {
            if (res.data.result) {
              alert("회원정보 수정 성공");
            } else {
              alert("수정 실패");
            }
          })
          .catch((err) => {
            alert("알 수 없는 문제가 발생했습니다.");
          });
      }

      function pwCheck() {
        if (
          document.getElementById("pw").value != "" &&
          document.getElementById("pwConfirm").value != ""
        ) {
          if (
            document.getElementById("pw").value ==
            document.getElementById("pwConfirm").value
          ) {
            document.getElementById("pwResult").innerHTML = "비밀번호 일치";
            document.getElementById("pwResult").style.color =
              "rgb(54, 54, 255)";
          } else {
            document.getElementById("pwResult").innerHTML =
              "비밀번호가 일치하지 않습니다";
            document.getElementById("pwResult").style.color =
              "rgb(255, 89, 89)";
          }
        }
      }

      function pwEdit() {
        const form = document.getElementById("form-editProfile");
        let user = {
          name: form.name.value,
          pw: form.password.value,
        };
        axios({
          method: "patch",
          url: `/user/profile/editall/${form.u_id.value}`,
          data: user,
        })
          .then((res) => {
            if (res.data.result) {
              alert("비밀번호 변경 성공");
            } else {
              alert("비밀번호 변경 실패");
            }
          })
          .catch((err) => {
            alert("변경 실패");
          });
      }
    </script>
  </body>
</html>
