<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>둘러보기</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300&amp;display=swap"
    />

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <link rel="stylesheet" href="/static/list.css" />
  </head>
  <body>
    <section class="list-wrapper"></section>
    <h2>둘러보기</h2>

    <div id="btn">
      <button type="button" onclick="location.href='/gallery/category' ">
        전체
      </button>
      <button
        type="button"
        onclick="location.href='/gallery/category/exhibition' "
      >
        전시회
      </button>
      <button type="button" onclick="location.href='/gallery/category/artgallery' ">미술관</button>
      <button type="button" onclick="location.href='/gallery/category/popupstore' ">팝업스토어</button>
      <button type="button" onclick="location.href='/gallery/category/museum' ">박물관</button>
    </div>

    <div id="list-container">
      <form method="" action="" id="list_form">
        <div id="list-gallery">
          <div id="card">
            <div id="img">
              <img src="../static/img/2016080902202_0.jpg" alt="박물관사진" />
            </div>
            <div id="text">
              <p id="address" name="address">용산동6가 168-6 국립중앙박물관</p>
              <p id="g_name" name="g_name">생의 찬미</p>
              <p id="deadline" name="deadline">2023/10/28~2024/03/03</p>
              <button id="website" name="website">공식사이트</button>
              <!-- <button id="website" name="website">무료입장</button> -->
            </div>
          </div>

          <!-- for문으로 div 추가 -->
          <% for(let i = 0; i < data.length; i++){ %>
          <div id="card">
            <div id="img">
              <img src="<%= data[i].imgurl %>" alt="박물관사진" />
            </div>
            <div id="text">
              <p id="address"><%=data[i].address %></p>
              <p id="g_name"><%=data[i].g_name %></p>
              <p id="deadline"><%=data[i].deadline %></p>
              <button id="website">예매하기</button>
              <button id="website">무료입장</button>
            </div>
          </div>
          <% } %>
        </div>
      </form>
    </div>
  </body>
</html>
