<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>main page</title>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <!-- Bootstrap CDN -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

  <!-- jQuery CDN -->
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="../static/main.css">
</head>

<body>
  <!-- Bootstrap CDN -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>

  <!-- <a href="/main" style="color: black;">
    <h1>My Place</h1>
  </a> -->

  <!-- nav바 -->
  <nav class="navbar navbar-expand-sm py-3 bg-transparent  text-dark" style="max-width: 1200px; margin: 0 auto;">
    <div class="container">
      <li class="nav-item">
        <p class="navbar-brand fs-1">MyPlace</p>
      </li>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="d-flex justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-dark" aria-current="page" href="/main">홈</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="./gallery/category ">둘러보기</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">찜</a>
          </li>

          <!-- 로그 아웃으로 로고 바꾸고, 로그아웃을 누를시 세션 종료+ 로그아웃 버튼이 로그안으로 돌아오도록 -->
          <% if(user) { %>
            <li class="nav-item">
              <a class="nav-link" href="./user/profile">마이페이지</a>
            </li>
            <li class="nav-item">
              <button class="nav-link" type="button" onclick="logout()">로그아웃</button>
            </li>
            <% } else { %>

              <% }%>
        </ul>
      </div>

      <div class="d-flex justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-dark border border-dark rounded-pill" href="./user/signin"
              style="width: 100px; text-align: center;">로그인</a>
          </li>
        </ul>
      </div>
  </nav>

  <script>
    function logout() {
      axios({
        method: 'post',
        url: '/main/logout',
      }).then((res) => {
        if (res.data.result) {
          alert("로그아웃 성공!!");
          document.location.href = "/main";
        } else {
          alert("로그아웃을 실패 하였습니다..");
        }
      })
    }
  </script>

  <!-- main 이미지 -->
  <div class="main-container">
    <img src="#" alt="전시회 이미지">
    <div class="main-text">
      <h2>Find Your Place</h2>
      <h2 style="margin-bottom: 0;">In Seoul</h2><br />
      <a href="" class="intoMap"><span class="">주변 장소 보러 가기</span></a>


      <!-- 이미지 4개 -->
      <div class="main-select">
        <div class="row">
          <div class="col-4">
            <a href="">
              <img src="../static/img/exhibition.jpg" alt="이미지 1">
            </a>
            <p>전시회</p>
          </div>
          <div class="col-4">
            <a href="">
              <img src="../static/img/popup.jpg" alt="이미지 2">
            </a>
            <p>팝업스토어</p>
          </div>
          <div class="col-4">
            <a href="">
              <img src="../static/img/gallary.jpg" alt="이미지 3">
            </a>
            <p>미술관</p>
          </div>
          <div class="col-4">
            <a href="">
              <img src="../static/img/museum.jpg" alt="이미지 4">
            </a>
            <p>박물관</p>
          </div>
        </div>
      </div>
    </div>

</body>

</html>