<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>main page</title>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <!-- Bootstrap CDN -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

  <!-- jQuery CDN -->
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="../static/main.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js" integrity="sha512-IQLehpLoVS4fNzl7IfH8Iowfm5+RiMGtHykgZJl9AWMgqx0AmJ6cRWcB+GaGVtIsnC4voMfm8f2vwtY+6oPjpQ==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollToPlugin.min.js" integrity="sha512-nTHzMQK7lwWt8nL4KF6DhwLHluv6dVq/hNnj2PBN0xMl2KaMm1PM02csx57mmToPAodHmPsipoERRNn4pG7f+Q==" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>

<body>
  <!-- Bootstrap CDN -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>

  <!-- nav바 -->
  <%-include("navbar.ejs")%>

    <!-- main 이미지 -->
    <div class="main-container">

      <div class="main-text">
        <p>Find Your Place <br/> in Seoul </p>
        <button class="into-map" type="button" >
          <a href="/gallery/map" class="intoMap">주변 장소 보러 가기</a>
        </button>
      </div>

      <div class="main-img">
        <div class="exhibition-img">
          <a href="/gallery/category/exhibition">
            <img src="../static/img/Exhibition.png" alt="전시회" class="exhibitionImg">
          </a>
        </div>

        <div class="popup-img">
          <a href="/gallery/category/popupstore">
            <img src="../static/img/popupFont.png" alt="팝업" class="popupImg">
          </a>
        </div>

        <div class="gallery-img">
          <a href="/gallery/category/artgallery">
            <img src="../static/img/gallery.png" alt="미술관" class="galleryImg">
          </a>
        </div>

        <div class="museum-img">
          <a href="/gallery/category/museum">
            <img src="../static/img/museum.png" alt="박물관" class="museumImg">
          </a>
        </div>
      </div>

    </div>

    <script>
      function random(min, max) {
      // `.toFixed()`를 통해 반환된 문자 데이터를,
      // `parseFloat()`을 통해 소수점을 가지는 숫자 데이터로 변환
        return parseFloat((Math.random() * (max - min) + min).toFixed(2))
      }

      function floatingObject(selector,delay,size){
      // gsap.to(요소, 시간, 옵션)
        gsap.to(selector, random(1.5,2.5), {
          y: size,
          repeat: -1, // -1 무한반복
          yoyo: true, // 애니메이션 되돌아오기(설정안할 시 끈킴)
          ease: Power1.easeInOut, // 타이밍함수
          delay: random(0,delay) // 지연시간
        })
      }
      floatingObject('.exhibitionImg',1,15)
      floatingObject('.popupImg',.5,15)
      floatingObject('.galleryImg',1.5,20)
      floatingObject('.museumImg',1.5,20)
    </script>

</body>

</html>