<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>main page</title>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <h1>My Place</h1>

  <header class="info">
    <div class="menu">
      <nav class="clearfix">
        <ul class="clearfix">
          <!-- menu_a는 왼쪽으로, menu_b는 오른쪽으로 이동할 것 -->
          <li class="menu_a">내 주변 장소</li>
          <li class="menu_b">홈</li>
          <li class="menu_b">카테고리</li>
          <li class="menu_b">찜</li>
          <li class="menu_b">로그인</li>
        </ul>
      </nav>
    </div>
  </header>

  <hr />

  <div class="container_myplace">
    <p>
      MyPlace <br />
      내 주변 전시회를 찾아보세요~ <br />
      <a href="">주변 장소 보러 가기</a>
    </p>
  </div>

  <div>

  </div>
</body>

</html>