<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>main page</title>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <!-- Bootstrap CDN -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

  <!-- jQuery CDN -->
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="../static/main.css">
</head>

<body>
  <!-- Bootstrap CDN -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>

  <!-- <a href="/main" style="color: black;">
    <h1>My Place</h1>
  </a> -->

  <!-- nav바 -->
  <%-include("navbar.ejs")%>

    <!-- main 이미지 -->
    <div class="main-container">
      <img src="#" alt="전시회 이미지">
      <div class="main-text">
        <h2>Find Your Place</h2>
        <h2 style="margin-bottom: 0;">In Seoul</h2><br />
        <a href="/gallery/maptest" class="intoMap"><span class="">주변 장소 보러 가기</span></a>


        <!-- 이미지 4개 -->
        <div class="main-select">
          <div class="row">
            <div class="col-4">
              <a href="/gallery/category/exhibition">
                <img src="../static/img/exhibition.jpg" alt="이미지 1">
              </a>
              <p>전시회</p>
            </div>
            <div class="col-4">
              <a href="/gallery/category/popupstore">
                <img src="../static/img/popup.jpg" alt="이미지 2">
              </a>
              <p>팝업스토어</p>
            </div>
            <div class="col-4">
              <a href="/gallery/category/artgallery">
                <img src="../static/img/gallary.jpg" alt="이미지 3">
              </a>
              <p>미술관</p>
            </div>
            <div class="col-4">
              <a href="/gallery/category/museum">
                <img src="../static/img/museum.jpg" alt="이미지 4">
              </a>
              <p>박물관</p>
            </div>
          </div>
        </div>
      </div>

</body>

</html>