<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>main page</title>

  <link rel="stylesheet" href="/app/static/main.css">
</head>

<body>
  <h2>My place</h2>

</body>

</html>