<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>main page</title>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <!-- Bootstrap CDN -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

  <!-- jQuery CDN -->
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="../static/main.css">
</head>

<body>
  <!-- Bootstrap CDN -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>

  <!-- nav바 -->
  <%-include("navbar.ejs")%>

    <!-- main 이미지 -->
    <div class="main-container">

      <div class="main-text">
        <p>Find Your Place <br/> in Seoul </p>
        <a href="/gallery/map" class="intoMap"><span class="">주변 장소 보러 가기</span></a>
      </div>

      <div class="main-img">
        <div class="exhibition-img">
          <a href="/gallery/category/exhibition">
            <img src="../static/img/Exhibition.png" alt="전시회">
          </a>
        </div>

        <div class="popup-img">
          <a href="/gallery/category/popupstore">
            <img src="../static/img/popup.png" alt="팝업">
          </a>
        </div>

        <div class="gallery-img">
          <a href="/gallery/category/artgallery">
            <img src="../static/img/gallery.png" alt="미술관">
          </a>
        </div>

        <div class="museum-img">
          <a href="/gallery/category/museum">
            <img src="../static/img/museum.png" alt="박물관">
          </a>
        </div>
      </div>

    </div>


</body>

</html>