<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>map page</title>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <!-- Bootstrap CDN -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <!-- Bootstrap icon CDN -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
  <!-- jQuery CDN -->
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../static/map_prev.css">
</head>

<body>
  <!-- nav바 불러오기 -->
  <%-include("navbar.ejs")%>

    <div class="container-a">

      <div class="sidebar">
        <div class="toggle-btn btn-a" onclick="toggleSidebar('a')"><a href="#"><i class="bi bi-list"></i></a></div>
        <div class="toggle-btn btn-b" onclick="toggleSidebar('b')"><a href="#"><i class="bi bi-heart-fill"></i></a>
        </div>
      </div>

      <!-- 리스트 콘텐츠 영역 -->
      <div class="content">
        <div class="content-a">
          <img
            src="https://search.pstatic.net/common/?src=https%3A%2F%2Fldb-phinf.pstatic.net%2F20210814_169%2F16289298437603fJGF_JPEG%2FLE7J43EfgHCeAcS_HvOtDc8G.jpeg.jpg">
          <p>미분당 신촌본점</p>
          <hr /><br />
          <img
            src="https://search.pstatic.net/common/?src=https%3A%2F%2Fldb-phinf.pstatic.net%2F20210814_169%2F16289298437603fJGF_JPEG%2FLE7J43EfgHCeAcS_HvOtDc8G.jpeg.jpg">
          <p>미분당 홍대점</p>
          <hr /><br />
          <img
            src="https://search.pstatic.net/common/?src=https%3A%2F%2Fldb-phinf.pstatic.net%2F20210814_169%2F16289298437603fJGF_JPEG%2FLE7J43EfgHCeAcS_HvOtDc8G.jpeg.jpg">
          <p>미분당 가로수길점</p>
          <hr /><br />
          <img
            src="https://search.pstatic.net/common/?src=https%3A%2F%2Fldb-phinf.pstatic.net%2F20210814_169%2F16289298437603fJGF_JPEG%2FLE7J43EfgHCeAcS_HvOtDc8G.jpeg.jpg">
          <p>미분당 강남점</p>
          <hr /><br />
          <img
            src="https://search.pstatic.net/common/?src=https%3A%2F%2Fldb-phinf.pstatic.net%2F20210814_169%2F16289298437603fJGF_JPEG%2FLE7J43EfgHCeAcS_HvOtDc8G.jpeg.jpg">
          <p>미분당 명동점</p>
          <hr /><br />
          <img
            src="https://search.pstatic.net/common/?src=https%3A%2F%2Fldb-phinf.pstatic.net%2F20210814_169%2F16289298437603fJGF_JPEG%2FLE7J43EfgHCeAcS_HvOtDc8G.jpeg.jpg">
          <p>미분당 안국점</p>
          <hr /><br />
          <img
            src="https://search.pstatic.net/common/?src=https%3A%2F%2Fldb-phinf.pstatic.net%2F20210814_169%2F16289298437603fJGF_JPEG%2FLE7J43EfgHCeAcS_HvOtDc8G.jpeg.jpg">
          <p>미분당 여의도점</p>
          <hr /><br />
        </div>

        <div class="content-b">
          찜목록
        </div>
      </div>

      <!-- 정보창을 표시할 영역 -->
      <div class="info-container">
        <img src="../static/img/2016080902202_0.jpg">
        <div class="info">

        </div>
      </div>

    </div>

    <div id="map">지도</div>

    <input type="button" value="아이콘" class="iconBtn" onclick="toggleInfoContainer()" />

    <script>
      let infoContainer = document.querySelector('.info-container');
      let container = document.querySelector('.container');
      let content = document.querySelector('.content');
      let currentMode = ''; // 현재 선택된 모드(a or b)를 저장

      // 사이드바 버튼을 토글
      function toggleSidebar(mode) {
        if (content.style.display === 'none') { // 현재 content가 숨겨져 있다면
          $(".content").css("display", "block") // .contetn를 block으로 하고,
          $(".content > div").css("display", 'none'); // .content > div를 none으로 하고,
          $(".content-" + mode).css("display", 'block'); // .content-(none)을 block으로 한다

          $(".info-container").css('right', '470px') // 정보창을 우로 470px 이동
          $("#map").css("left", '450px') // 지도를 우로 470px 이동

          console.log("1")

          currentMode = mode; // 현재 모드 업데이트

        } else { // 현재 content가 보여져 있다면
          // mode가 같으면, .content를 none으로 하고,
          // mode가 다르면, .content를 black, mode를 토글한다
          if (mode === 'a') {
            $(".info-container").css("display", "none")

            $(".content").css("display", "block")
            $(".content-a").css("display", "block")
            $(".content-b").css("display", "none")
            $("#map").css("left", '450px') // 지도를 우로 470px 이동

            console.log("2")
          } else if (mode === 'b') {
            infoContainer.style.display = 'none'
            $(".info-container").css("display", "none")

            $(".content").css("display", "block")
            $(".content-b").css("display", "block")
            $(".content-a").css("display", "none")
            $("#map").css("left", '450px') // 지도를 우로 470px 이동

            console.log("3")
          }
        }
      }

      // 정보창을 토글
      function toggleInfoContainer() {
        if (infoContainer.style.display === 'block') { // 정보창이 보여져 있다면
          infoContainer.style.display = 'none';
          $("#map").css("left", '450px')
          $("#map").css("width", '2050px');
          // $("#map").css("transform", 'translateX(60px)');

          console.log("infoContainer를 닫습니다 3");
        } else {
          if (content.style.display === 'none') { // 정보창이 숨겨져 있고, content가 숨겨져 있다면
            infoContainer.style.display = 'block'
            // $(".info-container").css("left", '60px')
            $(".info-container").css("transform", 'translateX(60px)');
            $("#map").css("left", '470px')
            // $("#map").css("transform", 'translateX(450px)');

            console.log("infoContainer를 엽니다 1");
          } else {
            infoContainer.style.display = 'block'
            infoContainer.style.left = '470px'
            // $(".info-container").css("transform", 'translateX(470px)');
            // $("#map").css("transform", 'translateX(820px)');
            $("#map").css("left", '880px');
            $("#map").css("width", '1620px');
            console.log("infoContainer를 엽니다 4");
          }
        }

      }


    </script>

</html>