<style>
  /* ABeeZee font import */
  @import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@1&family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');

  li.nav-item {
    list-style: none;
  }

  .li.nav-item::marker {
    list-style: none;
  }

  .navbar-brand {
    text-align: center;
    font-family: 'Unbounded', sans-serif;
    font-size: 30px;
  }

  .container {
    height: 140px;
    margin-right: 170px;
  }

  .navbar a {
    text-decoration: none;
    color: black;
  }

  .nav-item {
    font-family: 'IBM Plex Sans KR', sans-serif;
  }
</style>

<nav class="navbar navbar-expand-sm py-3 bg-transparent  text-dark" style="width: 1600px; margin: 0 auto;">
  <div class="container">
    <li class="nav-item">
      <p class="navbar-brand fs-1 fw-bold"><a href="/">MyPlace</a></p>
    </li>

    <div class=" d-flex justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-dark fs-4 fw-bold" aria-current="page" href="/">홈</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark fs-4 fw-bold" href="/gallery/map ">지도</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark fs-4 fw-bold" href="/gallery/category ">둘러보기</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark fs-4 fw-bold" href="/gallery/heartlistpage">찜</a>
        </li>

        <!-- 로그 아웃으로 로고 바꾸고, 로그아웃을 누를시 세션 종료+ 로그아웃 버튼이 로그안으로 돌아오도록 -->
        <% if(isAuthenticated) { %>
          <li class="nav-item">
            <a class="nav-link ext-dark fs-4 fw-bold" href="/user/profile">마이페이지</a>
          </li>
          <% } else { %>

            <% }%>

      </ul>
    </div>

    <div class="d-flex justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <% if(isAuthenticated) { %>
            <a class="nav-link text-dark border border-dark rounded-pill fw-bold" href="#" onclick="logout()"
              style="width: 100px; height: 40px; line-height: 22px; text-align: center;">로그아웃</a>
            <% } else { %>
              <a class="nav-link text-dark border border-dark rounded-pill fw-bold" href="/user/signin"
                style="width: 100px;  height: 40px; line-height: 22px; text-align: center;">로그인</a>
              <% }%>
        </li>
      </ul>
    </div>
</nav>

<script>
</script>

<script>
  function logout() {
    axios({
      method: 'post',
      url: '/logout',
    }).then((res) => {
      if (res.data.result) {
        alert("로그아웃 성공!!");
        document.location.href = "/";
      } else {
        alert("로그아웃을 실패 하였습니다..");
      }
    })
  }
</script>