<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>signin</title>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300&amp;display=swap'>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <link rel="stylesheet" href="/static/signin.css">
</head>

<body>
  <div class="login-wrapper">
    <h2>회원가입</h2>
    <form method="post" action="" id="login-form">

      <label for="userMail" class="visually">이메일</label>
      <input type="text" name="userMail" placeholder="Email">

      <label for="userPassword" class="visually">비밀번호</label>
      <input type="password" name="userPassword" placeholder="Password">

      <label for="userName" class="visually">이름</label>
      <input type="text" name="userName" placeholder="Name">

      <label for="userBirth" class="visually">생년월일</label>
      <input type="text" name="userBirth" placeholder="yyyy-mm-dd">

      <input type="submit" value="회원가입">

    </form>
  </div>
</body>

</html>